In [438]:
import numpy as np
import pandas as pd
import datetime as dt
import scipy as sp

import warnings
warnings.filterwarnings(action="ignore")

In [439]:
df = pd.read_csv('test_data.csv')

In [440]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   search_event_id   12654 non-null  int64
 1   user_id           12654 non-null  int64
 2   experience        12654 non-null  object
 3   timestamp         12654 non-null  object
 4   search_category   4812 non-null   float64
 5   engaged           12654 non-null  int64
 6   engage_event_cnt  12654 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 692.1+ KB

In [383]:
df.isnull().sum()

search_event_id        0
user_id                0
experience             0
timestamp              0
search_category     7842
engaged                0
engage_event_cnt       0
dtype: int64

In [384]:
df.dropna(inplace=True)

In [385]:
df.nunique()

search_event_id     4812
user_id             1861
experience             2
timestamp           4755
search_category       15
engaged                2
engage_event_cnt       8
dtype: int64

In [386]:
df['date'] =  pd.to_datetime(df['timestamp']).dt.date

In [387]:
test_groups = df.groupby(by=['date','experience'])['user_id'].nunique().reset_index(drop=False)\
                        .rename(columns={'user_id': 'num_users'}, inplace=False)

In [388]:
num_engaged = df.groupby(by=['date','experience'])[['engaged','engage_event_cnt']].sum().reset_index(drop=False)

In [389]:
xp = pd.merge(test_groups,num_engaged,on=['date','experience'])

In [390]:
xp['engagements_per_bucketed_user'] = xp['engage_event_cnt']/xp['num_users']

In [391]:
xp['engagements_per_engager'] = xp['engage_event_cnt']/xp['engaged']

In [392]:
xp['user_engagement_rate'] = xp['engaged']/xp['num_users']

In [393]:
xp

,date,experience,num_users,engaged,engage_event_cnt,engagements_per_bucketed_user,engagements_per_engager,user_engagement_rate
0,2021-01-10,control,473,164,233,0.492600,1.420732,0.346723
1,2021-01-10,test,285,93,134,0.470175,1.440860,0.326316
2,2021-01-11,control,458,141,217,0.473799,1.539007,0.307860
3,2021-01-11,test,289,90,130,0.449827,1.444444,0.311419
4,2021-01-12,control,434,142,208,0.479263,1.464789,0.327189
5,2021-01-12,test,282,86,121,0.429078,1.406977,0.304965
6,2021-01-13,control,477,172,248,0.519916,1.441860,0.360587
7,2021-01-13,test,269,74,102,0.379182,1.378378,0.275093
8,2021-01-14,control,431,140,219,0.508121,1.564286,0.324826
9,2021-01-14,test,292,74,115,0.393836,1.554054,0.253425

In [394]:
p1 = float(xp[xp['experience'] == 'control']['user_engagement_rate'].mean())
p2 = float(xp[xp['experience'] == 'test']['user_engagement_rate'].mean())
n1 = float(xp[xp['experience'] == 'control']['num_users'].mean())
n2 = float(xp[xp['experience'] == 'test']['num_users'].mean())

In [395]:
sd = np.sqrt((p1*(1-p1))/n1 + (p2*(1-p2))/n2)

In [396]:
z = round((p1 - p2)/sd,3)

In [397]:
z

1.121

In [398]:
p_values = round(sp.stats.norm.sf(abs(z))*2,3)

In [399]:
p_values

0.262

In [400]:
a = pd.DataFrame([1,2,3,4,5])
b = pd.DataFrame([2,4])

In [401]:
a[~a[0].isin(b[0])]

   0
0  1
2  3
4  5

In [402]:
a[0]

0    1
1    2
2    3
3    4
4    5
Name: 0, dtype: int64

In [415]:
xp[xp['experience']\
   .isin(['control','test'])]['user_engagement_rate']

0    0.346723
1    0.326316
2    0.307860
3    0.311419
4    0.327189
5    0.304965
6    0.360587
7    0.275093
8    0.324826
9    0.253425
Name: user_engagement_rate, dtype: float64

In [437]:
xp[xp['experience'] == 'control'].groupby('date')['num_users'].sum().reset_index(drop=False).sort_values(by = 'num_users', ascending = False)

         date  num_users
3  2021-01-13        477
0  2021-01-10        473
1  2021-01-11        458
2  2021-01-12        434
4  2021-01-14        431

In [433]:
a

            num_users
date
2021-01-10        473
2021-01-11        458
2021-01-12        434
2021-01-13        477
2021-01-14        431

dtype('int64')

In [535]:
strings = ["AABBCc"
          ,"This is a second string"
          ,"The sring value problem is awesome"
          ,"THis, Has, a, lot, of, needless, commas,,,,"
          ,"BNONIUXNoiyusfboIUTN!!"
          ,"What time is it?"]

In [536]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

In [537]:
alphabet_list = dict(enumerate([alphabet[x] for x in range(len(alphabet))], 1))

In [538]:
alphabet_list = dict([(value, key) for key, value in alphabet_list.items()])

In [539]:
lst_aphabet = [list(x.strip().lower()) for x in strings]

In [540]:
new_lst=[]
for i in range(len(lst_aphabet)):
    a = [alphabet_list[x] for x in lst_aphabet[i] if x in alphabet_list.keys()]
    new_lst.append(sum(a))
    
new_lst

[12, 232, 351, 300, 289, 156]

In [519]:
ord('a')

97

In [542]:
def solution(list):
    res = []
    for string in list:
        res.append(calculate(string))
    return res

def calculate(string):
    sum = 0
    for char in string:
        if char.isalpha():
            sum += ord(char.lower()) - ord('a') + 1
    return sum

In [544]:
solution(strings)

[12, 232, 351, 300, 289, 156]

In [548]:
ord('a')-ord('a')+1

1