# LeetCode

### 1. Two Sum https://leetcode.com/problems/two-sum/

#### Input: nums = [2,7,11,15], target = 9
#### Output: [0,1]
#### Output: Because nums[0] + nums[1] == 9, we return [0, 1].

In [606]:
def twoSum(nums, target):
    for idx1 in range(len(nums)):
        for idx2 in range(len(nums)):
            if idx1 != idx2:
                sum = nums[idx1] + nums[idx2]
                if sum == target:
                    return idx1, idx2

In [1047]:
nums = [2,7,11,15]
target = 9
twoSumII(nums, target)

(0, 1)

### 167. Two Sum II - Input array is sorted https://leetcode.com/problems/two-sum-ii-input-array-is-sorted/

In [1046]:
# dictionary
def twoSumII(nums, target):
    dic = {}
    for idx in range(len(nums)):
        if target - nums[idx] in dic.keys():
            return dic[target - nums[idx]], idx 
        else:
            dic[nums[idx]] = idx
            
# two-pointer
def twoSumIItp(numbers, target):
    left, right = 0, len(nums)-1
    while left < right:
        summ = numbers[left] + numbers[right]
        if summ == target:
            return [left+1, right+1]
        elif summ < target:
            left += 1
        else:
            right -= 1

In [1044]:
nums = [2,7,11,15]
target = 9
twoSumIItp(nums, target)

[1, 2]

### [NEED REVISIT] 977. Squares of a Sorted Array https://leetcode.com/problems/squares-of-a-sorted-array/

In [940]:
def squaresSort(target):
    newlst = sorted(x**2 for x in target)
    return newlst

In [941]:
nums = [-7,-3,2,3,11]
squaresSort(nums)

[4, 9, 9, 49, 121]

In [1069]:
def squareSort(nums):
    if not nums:
        return None
    nums = [x**2 for x in nums]
    n = len(nums)
    result = [0] * n
    left = 0
    right = n - 1
    for idx in range(n-1, -1, -1):
        if nums[left] < nums[right]:
            newnum = nums[right]
            right -= 1
        else:
            newnum = nums[left]
            left += 1
        result[idx] = newnum
    return result

In [1070]:
nums = [-7,-3,2,3,11]
squareSort(nums)

[0, 9, 9, 49, 121]

### 53. Maximum Subarray https://leetcode.com/problems/maximum-subarray/

In [642]:
def maxSubs(nums):
    curSum = maxSum = 0
    for num in nums:
        print('starting curSum: %s' % curSum)
        curSum = max(0, curSum + num)
        print('ending curSum: %s' % curSum)
        maxSum = max(maxSum, curSum)
        print('ending maxSum: %s' % maxSum)
    return maxSum

In [650]:
maxSubs(nums)

starting curSum: 0
ending curSum: 0
ending maxSum: 0
starting curSum: 0
ending curSum: 0
ending maxSum: 0
starting curSum: 0
ending curSum: 2
ending maxSum: 2
starting curSum: 2
ending curSum: 5
ending maxSum: 5
starting curSum: 5
ending curSum: 16
ending maxSum: 16

16

### 121. Max Profit https://leetcode.com/problems/best-time-to-buy-and-sell-stock/

In [680]:
prices = [7,1,5,3,6,4]

In [681]:
def maxProfit(prices):
    curGain = topGain = 0
    for i in range(1,len(prices)):
#         print('start curMax: %s' % curGain)
        curGain += prices[i] - prices[i-1]
#         print('mid curMax: %s' % curGain)
        curGain = max(0, curGain)
#         print('end curMax: %s' % curGain)
        topGain = max(curGain, topGain)
#         print('end allMax: %s' % topGain)
    return topGain

In [682]:
maxProfit(prices)

start curMax: 0
mid curMax: -6
end curMax: 0
end allMax: 0
start curMax: 0
mid curMax: 4
end curMax: 4
end allMax: 4
start curMax: 4
mid curMax: 2
end curMax: 2
end allMax: 4
start curMax: 2
mid curMax: 5
end curMax: 5
end allMax: 5
start curMax: 5
mid curMax: 3
end curMax: 3
end allMax: 5

5

### 66. Plus One https://leetcode.com/problems/plus-one/

In [750]:
def plusOne(digits):
    for idx in range(len(digits)):
        idx = ~idx
#         any position if = 9, convert to 0, then add 1 when returning
        if digits[idx] == 9:
            digits[idx] = 0
        else:
            digits[idx] += 1
            return digits
    return [1] + digits

In [1048]:
digits = [8]

In [1049]:
plusOne(digits)

[9]

### 605. Can Place Flowers https://leetcode.com/problems/can-place-flowers/

In [796]:
def canPlace(flowerbed, n):
#     to handel head and tail special cases for only needing two 0s
    flowerbed.insert(0,0)
    flowerbed.append(0)
    placement = 0
    for idx in range(1,len(flowerbed)-1):
        if flowerbed[idx-1] == flowerbed[idx] == flowerbed[idx+1] == 0:
            flowerbed[idx] = 1
            placement += 1
    return placement >= n

In [797]:
flowerbed = [1,0,0,0,0,1]
n = 1
canPlace(flowerbed, n)

True

In [785]:
flowerbed

[0, 1, 0, 0, 0, 0, 1, 0]

### [NEED REVISIT] 20. Valid Parentheses https://leetcode.com/problems/valid-parentheses/

In [804]:
def validPraent(s):
    praentDic = {'(':')','{':'}','[':']'}
    openings = []
    for char in s:
        # Is char an opening bracket?
        if char in praentDic:
            openings.append(char)
        # Is stack empty?
        elif not openings:
            return False
        # Does char "complete" the last bracket?
        else:
            opens = openings.pop()
            closes = praentDic[opens]
            if char != closes:
                return False
    # return True if stack is empty, else False
    return not openings

In [811]:
s = "()"
validPraent(s)

True

### 283. Move Zeroes https://leetcode.com/problems/move-zeroes/

In [814]:
def moveZeros(nums):
    nonZeros = []
    zeros = []
    for num in nums:
        if num != 0:
            nonZeros.append(num)
        else:
            zeros.append(num)
    return nonZeros + zeros

In [815]:
nums = [0,1,0,3,12]
moveZeros(nums)

[1, 3, 12, 0, 0]

In [822]:
# moveZeros inplace
def moveZerosInplace(nums):
    idx0 = 0
    for idx1 in range(len(nums)):
        if nums[idx1] != 0:
            nums[idx0], nums[idx1] = nums[idx1], nums[idx0]
            idx0 += 1

In [824]:
nums = [0,1,0,3,12]
moveZerosInplace(nums)
nums

[1, 3, 12, 0, 0]

### 27. Remove Element https://leetcode.com/problems/remove-element/

In [883]:
def removeElt(nums, val):
    idx0 = 0
    for idx1 in range(len(nums)):
        if nums[idx1] != val:
            nums[idx0], nums[idx1] = nums[idx1], nums[idx0]
            idx0 += 1
    cnt = 0        
    for char in nums:
        if char == val:
            cnt += 1
            
    for i in range(cnt):
        nums.pop(-1)

In [884]:
nums = [3,2,2,3,3,3]
removeElt(nums, 3)
nums

[2, 2]

In [879]:
# Answer with while loop
def removeElement(nums, val): 
    while val in nums:
        nums.remove(val)

In [880]:
nums = [3,2,2,3,3,3]
removeElement(nums, 3)
nums

[2, 2]

### 169. Majority Element https://leetcode.com/problems/majority-element/

In [899]:
def majElt(nums):
    dic = {}
    for num in nums:
        if num in dic.keys():
            dic[num] += 1
        else:
            dic[num] = 1
    lst = sorted(dic.items(), key=lambda x: x[1])
    return lst[-1][0]

In [1211]:
nums = [3,2,2,3,3,3]
''.join(nums)
# majElt(nums)

'322333'

### 88. Merge Sorted Array https://leetcode.com/problems/merge-sorted-array/

In [938]:
def mergeArray(nums1, m, nums2, n):
    for i in range(n+m):
        if m+i < n+m:
            nums1[m+i] = nums2[i]
    nums1.sort()

In [939]:
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [2,5,6]
n = 3

mergeArray(nums1, m, nums2, n)
nums1

[1, 2, 2, 3, 5, 6]

### 415. Add Strings https://leetcode.com/problems/add-strings/

In [1071]:
def addString(num1, num2):
    return str(int(num1) + int(num2))

In [1072]:
num1 = "456" 
num2 = "77"

addString(num1, num2)

'533'

In [1074]:
# no Built-in function
def addStringII(num1, num2):
    n = max(len(num1), len(num2))
    left = 0
    right = n-1

In [1077]:
# addStringII(num1, num2)

### 811. Subdomain Visit Count https://leetcode.com/problems/subdomain-visit-count/

In [1112]:
def visitCount(cpdomains):
    dic = {}
    for elt in cpdomains:
        cnt, domain = elt.split()
        parts = domain.split('.')
#         print(parts)
        for i in range(len(parts)):
            sub = '.'.join(parts[i:])
#             print(sub)
            dic[sub] = int(cnt) + dic.get(sub, 0)
#             print(dic)
    return [' '.join([str(cnt), domain]) for domain, cnt in dic.items()]

In [1113]:
cpdomains = ["900 google.mail.com", "50 yahoo.com", "1 intel.mail.com", "5 wiki.org"]
visitCount(cpdomains)

['900 google.mail.com',
 '901 mail.com',
 '951 com',
 '50 yahoo.com',
 '1 intel.mail.com',
 '5 wiki.org',
 '5 org']

In [1132]:
def maxProfit(prices):
    curMax = 0
    allMax = 0
    for i in range(len(prices)-1):
        curMax += prices[i+1] - prices[i]
        print(curMax)
        curMax = max(0, curMax)
        allMax = max(curMax, allMax)
    return allMax

In [1133]:
prices = [7,1,5,3,6,4]
maxProfit(prices)

-6
4
2
5
3

5

### 680. Valid Palindrome II https://leetcode.com/problems/valid-palindrome-ii/

In [1190]:
def validPalindrome(s):
    left = 0
    right = len(s)-1
    while left < right:
        if s[left] != s[right]:
            left += 1
            right -= 1
        elif

In [1194]:
s = "abc"
validPalindrome(s)

['a', 'b', 'c']

True

In [1201]:
def validPalindrome(s):
    for i in range(len(s)):
        test = s[:i] + s[i+1:]
        if test == test[::-1]:
            return True
    return s == s[::-1]

In [1202]:
s = "bccccc"
validPalindrome(s)

True

### 344. Reverse String https://leetcode.com/problems/reverse-string/

In [1203]:
def reverseString(s):
    """
    Do not return anything, modify s in-place instead.
    """
    left = 0
    right = len(s)-1
    carry = ""
    while left < right:
        carry = s[left]
        s[left] = s[right]
        s[right] = carry
        left += 1
        right -= 1

In [1206]:
def reverseStringII(s):
    return s[::-1]

In [1207]:
s = ["h","e","l","l","o"]
reverseStringII(s)

['o', 'l', 'l', 'e', 'h']

### 252. Meeting Rooms https://leetcode.com/problems/meeting-rooms/

## HackerRank
### Bigger is Greater https://www.hackerrank.com/challenges/bigger-is-greater/problem

In [ ]:
def bigIsGreater(target):
    while len(target) > 1:

In [1220]:
s = '0125330'
biggerIsGreater(s)

'0130235'

In [1216]:
def biggerIsGreater(w):
    arr = list(w)
    # Find non-increasing suffix
    i = len(arr) - 1
    while i > 0 and arr[i - 1] >= arr[i]:
        i -= 1
    if i <= 0:
        return "no answer"
    
    # Find successor to pivot
    j = len(arr) - 1
    while arr[j] <= arr[i - 1]:
        j -= 1
    arr[i - 1], arr[j] = arr[j], arr[i - 1]
    
    # Reverse suffix
    arr[i : ] = arr[len(arr) - 1 : i - 1 : -1]
    return "".join(arr)

# String Questions

### 1. Length Function

In [3]:
string = "safboiusdfwsgwesjenlku"

In [4]:
def string_len(string):
    i = 0
    for char in string:
        i += 1
    return i

In [5]:
string_len(string)

22

### 2. Letter Frequency

In [6]:
def letter_frequency(target):
    import string
    fre = {}
    for char in target:
        if char in string.ascii_lowercase:
            if char in fre.keys():
                fre[char] += 1
            else:
                fre[char] = 1
    return fre

In [7]:
letter_frequency('adfasd f')

{'a': 2, 'd': 2, 'f': 2, 's': 1}

### 3. Get first 2 and last 2 of given string, if target less than 2 return empty.

In [8]:
def get_head_tail_2(target):
    if len(target) >= 2:
        new_string = target[:2]+target[-2:]
    else:
        new_string = 'empty'
    return new_string

In [9]:
get_head_tail_2('adfasd f')

'ad f'

### 4. Change first letter to $ except the first one

In [10]:
def dollar_sign(target):
    target_letter = target[0]
    new_string = target[0]
    for char in target[1:]:
        if char == target_letter:
            char = "$"
        new_string += char
    return new_string

In [11]:
dollar_sign(string)

'safboiu$dfw$gwe$jenlku'

### 5. Conbine strings and swap first two strings

In [12]:
def conbine_and_swap_2(target1, target2):
    new1 = target1[:2]+target2[2:]
    new2 = target2[:2]+target1[2:]
    new_string = new1 +" "+ new2
    return new_string

In [13]:
conbine_and_swap_2('afsn', 'opun')

'afun opsn'

### 6. Add "ing" for strings with more than 3 in length, for ones that have ing, add ly instead, if less than 3 in length, leave it

In [14]:
def add_ing_ly(target):
    if len(target) >= 3:
        if target[-3:] == 'ing':
            target = target[:-3] + 'ly'
        else:
            target += 'ing'
    else:
        target
    return target

In [15]:
add_ing_ly('acing')

'acly'

### 7. Find 'not' and 'poor', if 'not' follows 'poor' replace with 'good'

In [16]:
def find_not_poor(target):
    lst = target.split()
    not_idx = 0
    poor_idx = 0
    for idx in range(len(lst)):
        if lst[idx] in 'not':
            not_idx = idx
        if lst[idx] in 'poor':
            poor_idx = idx
    if poor_idx - not_idx <= 2:
        new_lst = lst[:not_idx]
        new_lst.append('good')
    return print(new_lst), not_idx, poor_idx

In [17]:
def not_poor(target):
    snot = target.find('not')
    spoor = target.find('poor')
    
    if spoor > snot and snot > 0 and spoor > 0:
        str1 = target.replace(target[snot:spoor+4], 'good')
        return str1
    else:
        return target

In [18]:
not_poor('The lyrics is not that poor!')

'The lyrics is good!'

### 8. find the longest word and the length of it

In [19]:
def find_longest(target):
    longest = ""
    max_length = 0
    for word in target:
        if len(word) > max_length:
            longest = word
        max_length = max(max_length, len(word))
    return longest, max_length

In [20]:
target = 'The lyrics is not that poor world ball paradox paragram infographic'.split()

In [21]:
find_longest(target)

('infographic', 11)

### 9. Remove n th index character from a non-empty string

In [22]:
def nth_char(target, n):
    new_string = ""
    for idx in range(len(target)):
        if idx < n:
            new_string += target[idx]
        elif idx == n:
            continue
        else:
            new_string += target[idx]
    return new_string

In [30]:
nth_char('abcdefghijk', 9)

'abcdefghik'

### 10. Change a given string to a new string where the first and last chars are swapped

In [33]:
def change_first_last(target):
    new_string = target[-1]
    new_string += target[1:-1]
    new_string += target[0]
    return new_string

In [34]:
change_first_last('abcdefg')

'gbcdefa'

### 11. Remove characters that have odd indexes

In [50]:
def remove_odd_idx(target):
    new = ""
    for idx in range(len(target)):
        if idx % 2 == 0:
            new += target[idx]
        else:
            continue
    return new

In [53]:
remove_odd_idx('1234567')

'1357'

### 12. Count the occurrences of each word in a given sentence

In [93]:
def count_words(target):
    dic = {}
    for word in target.lower().strip().split():
        if word in dic.keys():
            dic[word] += 1
        else:
            dic[word] = 1
    return sorted(dic.items(), key=lambda item: item[1], reverse = True)

In [100]:
target = 'oh yes oh yes The lyrics is not the that The poor poor PooR world ball paradox paragram infographic'
count_words(target)

[('the', 3),
 ('poor', 3),
 ('oh', 2),
 ('yes', 2),
 ('lyrics', 1),
 ('is', 1),
 ('not', 1),
 ('that', 1),
 ('world', 1),
 ('ball', 1),
 ('paradox', 1),
 ('paragram', 1),
 ('infographic', 1)]

### 13. upper_lower_transfering

In [111]:
def upper_lower_transfer(target, case = 'lower'):
    if case in 'lower':
        return target.lower()
    else:
        return target.upper()

In [113]:
upper_lower_transfer('Acdesc')

'acdesc'

###  14. Comma separated sequence as input and prints unique words in sorted form (alphabetically)

In [116]:
def sorting_words(target):
    return sorted(target.split(","))

In [117]:
sorting_words('safm,joiu,ackj,bhjkio,fion,cine')

['ackj', 'bhjkio', 'cine', 'fion', 'joiu', 'safm']

### 15. Create HTML string with tags around the words

In [134]:
def add_html_tag(target, tag):
    lst = []
    for word in target.split(","):
         lst.append("<%s>%s</%s>" % (tag, word, tag))
    return lst

In [135]:
add_html_tag('safm,joiu,ackj,bhjkio,fion,cine', 'b')

['<b>safm</b>',
 '<b>joiu</b>',
 '<b>ackj</b>',
 '<b>bhjkio</b>',
 '<b>fion</b>',
 '<b>cine</b>']

### 16. insert string in the middle of a string

In [141]:
def insert_in_middle(str1, str2):
    return str1[:len(str1)//2] + str2 + str1[len(str1)//2:]

In [142]:
insert_in_middle('abc', '12434')

'a12434bc'

### 17. 4 copies of last two char

In [143]:
def four_copy_last_2(target):
    if len(target) >= 2:
        last2 = target[-2:]
    else:
        last2 = " "
    return last2 * 4

In [144]:
four_copy_last_2('python')

'onononon'

### 19. Get last part of string after special char

In [145]:
web = 'https://www.w3resource.com/python-exercises'

In [149]:
def last_part(target, splitter):
    return target.split("%s" % splitter)[-1]

In [150]:
last_part(web, '/')

'python-exercises'

### 20. Reverse a string if is multiple of 4

In [153]:
def reverse_multiple_of_four(target):
    if len(target) % 4 == 0:
        new = target[::-1]
    else:
        new = target
    return new

In [156]:
reverse_multiple_of_four('pyth')

'htyp'

### 22. Lexicographi Sorts

In [160]:
target = 'w3resOUrce'

In [164]:
def lexicographi_sorts(target):
    return sorted(target, key=str.upper)

In [165]:
lexicographi_sorts(target)

['3', 'c', 'e', 'e', 'O', 'r', 'r', 's', 'U', 'w']

### 24. Check whether a string starts with specified characters

In [170]:
def check_start_char(target, char):
    if target[0].lower() == char.lower():
        return True
    else:
        return False

In [172]:
check_start_char(target, 'w')

True

### 25. Shift string on selected index

In [185]:
def shift(target, num_shift):
    import string
    new_str = target[num_shift:]
    new_str += target[:num_shift+1]
    return new_str

In [186]:
shift(target, 1)

'3resOUrcew3'

### 39. Reverse words in a string

In [187]:
st = "The quick brown fox jumps over the lazy dog."

In [189]:
stl = st.split()

In [194]:
' '.join(stl[::-1])

'dog. lazy the over jumps fox brown quick The'

### More Questions https://pynative.com/python-string-exercise/

### 1. Given a string of odd length greater than 7, return a new string make of the middle three characters of a give string

In [90]:
def get_mid_three(target):
    new_string = ""
    if len(target) >= 7:
        new_string = target[len(target)//2-1:len(target)//2+2]
    return new_string

In [92]:
get_mid_three("JaSonAy")

'Son'

### 3. Given two strings, s1, and s2 return a new string made of the first, middle, and last characters each input string

In [93]:
def mix_strings(str1, str2):
    return str1[0]+str2[0]+str1[len(str1)//2]+str2[len(str2)//2]+str1[-1]+str2[-1]

In [94]:
s1 = "America"
s2 = "Japan"
mix_strings(s1, s2)

'AJrpan'

### 4. Arrange string characters such that lowercase letters should come first

In [95]:
str1 = "JaSonAy"

In [101]:
def lower_c(target):
    new_string = ""
    for char in target:
        if char.islower():
            new_string += char
    for char in target:
        if not char.islower():
            new_string += char
    return new_string

In [102]:
lower_c(str1)

'aonyJSA'

### 5. Count all lower case, upper case, digits, and special symbols from a given string

In [103]:
str1 = "P@#yn26at^&i5ve"

In [106]:
def counting(target):
    chars = 0
    nums = 0
    symbol = 0
    for elt in target:
        if elt.isalpha():
            chars += 1
        elif elt.isnumeric():
            nums += 1
        else:
            symbol += 1
    return print("Chars = %s, Digits = %s, Symbol = %s" % (chars, nums, symbol))

In [107]:
counting(str1)

Chars = 8, Digits = 3, Symbol = 4

### 6. Given two strings, s1 and s2, create a mixed String using the following rules,
#### create a third-string made of the first char of s1 then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [123]:
s1 = "Abcdefg"
s2 = "Xyz"

In [124]:
def mixer(str1, str2):
    new_str = ""
    if len(str1) <= len(str2):
        n = len(str1)
    else:
        n = len(str2)
    for idx in range(n):
        new_str += str1[idx] + str2[::-1][idx]
    if n == len(str1) and len(str1) != len(str2):
        new_str += str2[n:]
    else:
        new_str += str1[n:]
    return new_str

In [125]:
mixer(s1, s2)

'AzbycXdefg'

### 7. String characters balance Test
#### We’ll assume that a String s1 and s2 is balanced if all the chars in the s1 are there in s2. characters’ position doesn’t matter.

In [134]:
def balanced(str1, str2):
    new_string = ""
    for char in str1:
        if char in [x for x in str2]:
            new_string += char
    if new_string == str1:
        return True
    else:
        return False

In [141]:
# Answer
def stringBalanceCheck(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag

In [139]:
s1 = "Yn"
s2 = "PYnative"

balanced(s1, s2)

True

In [140]:
s1 = "Ynf"
s2 = "PYatfive"

balanced(s1, s2)

False

### 8. Find all occurrences of “USA” in a given string ignoring the case

In [299]:
str1 = "Welcome to USA. usa...usa! !usa &*UsA SAU awesome, isn't it?"

In [199]:
def usaCount(target):
    import string
    usaCount = 0
    target = target.translate(target.maketrans('', '', string.punctuation))
    target = target.lower().strip().split()
    for word in target:
        if 'usa' in word:
            usaCount += 1
    return usaCount

In [200]:
usaCount(str1)

5

In [201]:
# Using build-in string function count()
inputString = "Welcome to USA. usa...usa!!usa &*UsA SAU awesome, isn't it?"
substring = "USA"
tempString = inputString.lower()
count = tempString.count(substring.lower())
print("The USA count is:", count)

The USA count is: 5

### 9. Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters

#### Given: 
    str1 = "English = 78 Science = 83 Math = 68 History = 65"
#### Outcome:
    sum is 294
    average is 73.5

In [202]:
str1 = "English = 78 Science = 83 Math = 68 History = 65"

In [216]:
def sum_all_num(target):
    summ = 0
    cnt = 0
    for elt in str1.split():
        if elt.isnumeric():
            summ += int(elt)
            cnt += 1
    print("sum is %s" % summ), print("avg is %s" % (summ/cnt))

In [217]:
sum_all_num(str1)

sum is 294
avg is 73.5

### 10. Given an input string, count occurrences of all characters within a string

In [222]:
def cnt_fre(target):
    dic = {}
    for char in target:
        if char in dic.keys():
            dic[char] += 1
        else:
            dic[char] = 1
    return sorted(dic.items(), reverse = True)

In [223]:
str1 = "Apple"
cnt_fre(str1)

[('p', 2), ('l', 1), ('e', 1), ('A', 1)]

### 12. Find the last position of a substring “Emma” in a given string

In [241]:
# rfind() to search for last positions for substrings
def find_last_idx(target):
    substr = 'Emma'
    return target.rfind(substr)

In [242]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
find_last_idx(str1)

43

### Practicing .join()

In [247]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))

1, 2, 3, 4

### 17. Find words with both alphabets and numbers

In [337]:
str1 = "Emma25 is Data scientist50 and AI Expert$ 123"
print("The original string is : " + str1)

# Words with both alphabets and numbers
# isdigit() for numbers + isalpha() for alphabets
# covering cases of special charactors and pure numbers
# use any() to check each character

res = []
temp = str1.split()
for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

print("Displaying words with alphabets and numbers")
for i in res:
    print(i)

The original string is : Emma25 is Data scientist50 and AI Expert$ 123
Displaying words with alphabets and numbers
Emma25
scientist50

### 18. Replace each punctuation with # in the following string

In [316]:
import string
str1 = '/*Jon is @developer & musician!!'
str2 = ""
for idx in range(len(str1)):
    if str1[idx] in string.punctuation:
        str2 += '#'
    else:
        str2 += str1[idx]
str2

'##Jon is #developer # musician##'

In [320]:
[1,-1][-2<0]

-1

# List Questions

### 1. Sum the list

In [49]:
target = [1,2,-8]

In [52]:
def sum_list(target):
    sum_lst = 0
    for elt in target:
        sum_lst += elt
    return sum_lst

In [53]:
sum_list([1,2,-8])

-5

### 2. Multiply all items in list

In [50]:
def multiply(target):
    result = 1
    for elt in target:
        result *= elt
    return result

In [51]:
multiply(target)

-16

### 3. Get max in list

In [54]:
def get_max(target):
    maxNow = 0
    for elt in target:
        if maxNow < elt:
            maxNow = elt
    return maxNow

In [55]:
get_max(target)

2

### 4. Get min in list

In [58]:
def get_min(target):
    return min(target)

In [59]:
get_min(target)

-8

### 5. Count number of strings where the string length is 2 or more and the first and last character are same

In [60]:
def count_same(target):
    cnt = 0
    for word in target:
        if len(word) >= 2 and word[0] == word[-1]:
            cnt += 1
    return cnt

In [61]:
count_same(['abc', 'xyz', 'aba', '1221'])

2

### 6. Sort tuples by last element ascending

In [66]:
def last_elt(elt):
    return elt[-1]

In [72]:
def sort_by_last(target):
    return sorted(target, key = last_elt)

In [73]:
sort_by_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

### 7. Remove duplicates from a list

In [74]:
def remove_dups(target):
    return list(set(target))

In [75]:
remove_dups([1,4,2,1,1,1,2,4,5])

[1, 2, 4, 5]

### 8. Check if a list is empty or not

In [76]:
def is_empty(target):
    num_elt = 0
    for elt in target:
        num_elt += 1
    if num_elt == 0:
        return 'empty'
    else:
        return 'not empty'

In [79]:
is_empty(['a',2,4])

'not empty'

In [80]:
lst = [1,2,3]

In [334]:
def canAttendMeetings(intervals):
    intervals.sort()
    print(intervals)
    for i in range(len(intervals) - 1):
        if intervals[i][1] > intervals[i+1][0]:
            return False
    return True

In [335]:
intervals = [[0,30],[5,10],[15,20],[5,15],[0,10]]

In [336]:
canAttendMeetings(intervals)

[[0, 10], [0, 30], [5, 10], [5, 15], [15, 20]]

False

# List questions from https://pynative.com/python-list-exercise-with-solutions/

### 1. Reverse a given list

In [339]:
aList = [100, 200, 300, 400, 500]

In [341]:
aList[::-1]

[500, 400, 300, 200, 100]

### 2. Concatenate two lists index-wise

In [342]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [343]:
def concat(lst1, lst2):
    if len(lst1) == len(lst2):
        newlst = []
        for idx in range(len(lst1)):
            newlst.append(lst1[idx]+lst2[idx])
    else:
        newlst.append('Not same length')
    return newlst

In [344]:
concat(list1, list2)

['My', 'name', 'is', 'Kelly']

### 3. Given a Python list of numbers. Turn every item of a list into its square

In [351]:
lst = [1, 2, 3, 4, 5, 6, 7]

In [354]:
def squareLst(target):
    return [x**2 for x in lst]

In [355]:
squareLst(lst)

[1, 4, 9, 16, 25, 36, 49]

### 4. Concatenate two lists in the following order

In [356]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [357]:
list3 = []
for elt1 in list1:
    for elt2 in list2:
        list3.append(elt1 + elt2)
        
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [359]:
list3 = [x+y for x in list1 for y in list2]
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

### 5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [360]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [366]:
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

### 6. Remove empty strings from the list of strings

In [374]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [375]:
def removeEmpty(target):
    lst = []
    for elt in target:
        if len(elt) > 0:
            lst.append(elt)
    return lst

In [376]:
removeEmpty(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [378]:
list(filter(None, list1))

['Mike', 'Emma', 'Kelly', 'Brad']

### 8. Add sublist in a nested list

In [400]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub = ["h", "i", "j"]

In [392]:
list1[2][1][2].extend(sub)

In [393]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### 9. find value 20 in list and replace with 200 if present

In [397]:
def findTwty(target):
    for idx in range(len(target)):
        if target[idx] == 20:
            target[idx] = 200
            break
    return target

In [406]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# findTwty(list1)

### 10. Remove all 20s

In [410]:
def removeValue(target, value):
    lst = []
    for elt in target:
        if elt != value:
            lst.append(elt)
    return lst

In [412]:
removeValue(list1, 20)

[5, 10, 15, 25, 50]

# Dictionary Questions https://pynative.com/python-dictionary-exercise-with-solutions/

### dictionary comprehension

In [435]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]

vowels = { key : value[:] for key in keys }
# you can also use { key : value[:] for key in keys }
print(vowels)

# updating the value
value.append(2)
print(vowels)

{'a': [1], 'o': [1], 'u': [1], 'e': [1], 'i': [1]}
{'a': [1], 'o': [1], 'u': [1], 'e': [1], 'i': [1]}

### 1. Convert two list into a dict

In [414]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [416]:
dic = {}
for keys, values in zip(keys, values):
    dic[keys] = values

In [417]:
dic

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### 2. Merge Dictionaries into one

In [425]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [426]:
def mergeDict(dict1, dict2):
    dict3 = dict1.copy()
    for keys in dict2.keys():
        dict3[keys] = dict2[keys]
    return dict3

In [427]:
mergeDict(dict1, dict2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [430]:
dict3 = {**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### 3. Access the value of key 'history'

In [431]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [433]:
sampleDict['class']['student']['marks']['history']

80

### 4. Initialize dictionary with default values

In [434]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

resDict = dict.fromkeys(employees, defaults)
print(resDict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

### 5. Create a new dicionary by extracting the following keys from exsisting dictionary

In [441]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

# Keys to extract 
keys_lst = ["name", "salary"]

In [447]:
newDict = {key : sampleDict[key] for key in sampleDict.keys() if key in keys_lst}

In [448]:
newDict

{'name': 'Kelly', 'salary': 8000}

In [449]:
# Answer
newDict2 = {k : sampleDict[k] for k in keys_lst}

In [450]:
newDict2

{'name': 'Kelly', 'salary': 8000}

### 6. Delete set of keys from a dictionary

In [453]:
newDict = {key : sampleDict[key] for key in sampleDict.keys() - keys_lst}

In [454]:
newDict

{'age': 25, 'city': 'New york'}

### 7. Check if a value 200 exists in a dictionary

In [483]:
def checkValue(dict1, value):
    flag = False
    for key in dict1.keys():
        if value == dict1[key]:
            flag = True
    return flag

In [484]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
checkValue(sampleDict, 200)

True

In [476]:
# answer
print(200 in sampleDict.values())

True

### 8. Rename key for 'city' to 'location'

In [489]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [487]:
sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### 9. Get the key of a minimum value

In [492]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [501]:
min(sampleDict, key = sampleDict.get)

'Math'

### 10. Change Brad's salary to 8500

In [536]:
sampleDict = {
     'emp1': {'name': 'John', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [537]:
for subDict in sampleDict.values():
    for key in subDict:
        if subDict[key] == 'Brad':
            subDict['salary'] = 8500

In [538]:
sampleDict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

# Set Questions https://pynative.com/python-set-exercise-with-solutions/

### 1. Add a list of elements to a set

In [547]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

In [548]:
[sampleSet.add(x) for x in sampleList]

[None, None, None]

In [551]:
# Answer 
sampleSet.update(sampleList)
print(sampleSet)

{'Yellow', 'Green', 'Red', 'Black', 'Blue', 'Orange'}

### 2. Return a new set of identical items

In [556]:
def getSame(set1, set2):
    set3 = set()
    for elt in set1:
        if elt in set2:
            set3.add(elt)
    return set3

In [557]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
getSame(set1, set2)

{30, 40, 50}

In [559]:
# Answer
print(set1.intersection(set2))

{40, 50, 30}

### 3. Returns a new set with all items from the two

In [564]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.copy()
set3.update(set2)
set3

{10, 20, 30, 40, 50, 60, 70}

### 4. Get elements that only exsists in set1 but not in set2

In [570]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

# Tuple Questions https://pynative.com/python-tuple-exercise-with-solutions/

### 1. Reverse a tuple

In [572]:
aTuple = (10, 20, 30, 40, 50)
aTuple[::-1]

(50, 40, 30, 20, 10)

### 2. Access value 20 from tuple

In [573]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

20

### 3. Unpack tuple

In [576]:
aTuple = (10, 20, 30, 40, 50)
a, b, c, d, e = aTuple
print(c)

30

### 5. Swap two tuples

In [577]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

### 7. Modify the first item 22 of the list in the tuple

In [578]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

### 8. Sort a tuple of tuples by 2nd item

In [580]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple(sorted(tuple1, key=lambda t:t[1]))

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### 9. Count occurrences of 50

In [595]:
def counting(tup, target):
    cnt = 0
    for elt in tup: 
        if elt == target:
            cnt += 1
    return cnt

In [596]:
tuple1 = (50, 10, 60, 70, 50)
counting(tuple1, 50)

2

### 10. Check if all items in the following tuple are the same

In [592]:
tuple1 = (45, 45, 45, 45)
def checkSame(tuple1): return any(elt == tuple1[0] for elt in tuple1)

In [593]:
checkSame(tuple1)

True

In [1225]:
l = [-8,23,16,7,34,-1,0,45]

for i in range(len(l)):
    for j in range(i + 1, len(l)):

        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]

print(l)

[-8, -1, 0, 7, 16, 23, 34, 45]